{% extends 'myapp/base.html' %}

{% block content %}
<div class="container">
        <form id="visit_form" method="POST">
                {% csrf_token %}
        <h4>Ветеринарна клініка</h4>
        {{ form.name }}
        {{ form.middle_name }}
        <div class="select">
               {{ form.specAn }}
        </div>
         {{ form.nameAnim }}
        <div id="select193" class="select">
                {{ form.reason }}
        </div>
            {{ form.phone }}
            {{ form.textArea }}
        <button type="submit">Відправити дані</button>
            {% block thanks %}
            {% endblock thanks %}
    </form>
</div>
{% endblock content %}